
body {
	background: #ae7878;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

h1 {
	color: #e63946;
	font-family: Arial, sans-serif;
}

.icon {
	width: 250px;
	margin-top: 10px;
}
